<mat-card class="example-card">
  <img mat-card-image src="..//..//../assets/icons/bg-home.svg" alt="Estudiante con un test apto en la mano">
  <mat-card-content>
    <p>
    Aprobar exámenes es una meta fundamental en la vida de cualquier estudiante, ya que representa un paso importante hacia
    el logro de sus objetivos académicos y profesionales. Para alcanzar este objetivo, es necesario adoptar una serie de
    hábitos y estrategias que fomenten un aprendizaje efectivo y la preparación adecuada para las evaluaciones.
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card-form">
  <img mat-card-image src="./../../../assets/icons/aprove.svg" alt="Figura de mujer con un test de aprobado con fondo azul">
  <mat-card-content>
    <p>
    La práctica constante es otra estrategia esencial. Realizar ejercicios y problemas relacionados con el tema, así como
    repasar material antiguo, refuerza el conocimiento y mejora las habilidades para resolver problemas. También es útil
    estudiar en grupos, ya que discutir el material con otros puede aportar perspectivas diferentes y ayudar a recordar la
    información de manera más efectiva.
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card-form-practise">
  <img mat-card-image src="./../../../assets/icons/tests.svg" alt="Figura de hombre sentado sobre una computadora haciendo tests ">
  <mat-card-content>
    <p>
  En resumen, "Evaluate" es la herramienta definitiva para aquellos que buscan una forma efectiva y personalizada de
  evaluar y mejorar sus habilidades educativas. Con su enfoque en la adaptabilidad, el seguimiento de progreso y una
  amplia gama de características interactivas, "Evaluate" te ayudará a alcanzar tus metas académicas y profesionales.
  ¡Descárgala hoy mismo y empieza a evaluar tu camino hacia el éxito!.
  
  Estas son algunas propiedades adicionales que podrían realzar aún más la descripción de la aplicación "Evaluate" y
  destacar su versatilidad, facilidad de uso y compromiso con el éxito educativo de sus usuarios.
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>



